$def_size: 32px;
$line_size: $def_size - 2px;

$trans_time: 0.33s;
$anim_time: 0.5s;

$MIN_COUNT: 3;
$MAX_COUNT: 5;

//SIDEBAR
$gap: 4px;
$bradius: 4px;
//MAIN
$main_padding: 60.5px 0px 0px 64px;
$net_gap: 0px;
$net_bradius: 2px;
