@import "../../utils/stylevars.scss";

$color_item_bg: #00000020;
$color_item_border: #00000075;

$color_side_bg: #00000010;
$color_side_border: #00000040;

%item {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: $line_size;
  height: $def_size;
  border: 1px solid $color_item_border;
  border-radius: $bradius;
  transition: all $trans_time;
  animation: fade $anim_time linear;
  &:hover {
    background-color: $color_item_bg;
  }
}

@for $i from 1 through $MAX_COUNT {
  .sidebar-item-X#{$i} {
    @extend %item;
    width: ($def_size * $i) + $gap * ($i - 1);
    grid-column: span $i;
  }
  .sidebar-item-Y#{$i} {
    height: ($def_size * $i) + $gap * ($i - 1);
    grid-row: span $i;
  }
}

$min_w: ($def_size * $MIN_COUNT) + $gap * ($MIN_COUNT - 1) + 2 * $gap;
$max_w: ($def_size * $MAX_COUNT) + $gap * ($MAX_COUNT - 1) + 2 * $gap;

.sidebar {
  overflow-y: auto;
  min-width: $max_w;
  max-width: $max_w;
  height: 100vh;
  border-right: 1px solid $color_side_border;
  background-color: $color_side_bg;

  &-controls {
    padding: 12px 4px;
    gap: $gap;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-inner {
    display: grid;
    grid-template-columns: repeat($MAX_COUNT, $def_size);
    grid-auto-flow: dense;

    gap: $gap;
    padding: $gap;

    // position: relative;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100vw;
    //   top: 0;
    //   border-bottom: 1px solid black;
    // }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   width: 100vw;
    //   bottom: 0;
    //   border-bottom: 1px solid black;
    // }
  }
}
